<div id="content">
  <div>
    <h1 class="ui header">
      <i class="icon comments" style="opacity: .3"></i>
      <div class="content">
        Chats
      </div>
    </h1>
  </div>
  <div>
    <h1 class="ui header">
      <i class="icon users" style="opacity: .3"></i>
      <div class="content">
        Acessos
      </div>
    </h1>
  </div>
  <div>
    <h1 class="ui header">
      <i class="icon tags" style="opacity: .3"></i>
      <div class="content">
        Tópicos
      </div>
    </h1>
  </div>
</div>
<div id="arrows">
  <button class="ui" data-action="prev">
    <i class="icon left arrow"></i>
    Tópicos
  </button>
  <button class="ui right next" data-action="next">
    Acessos
    <i class="icon right arrow"></i>
  </button>
</div>