<div id="content">
  <div>
    <h1 class="ui header">
      <i class="icon user"></i>
      <div class="content">
        Chats
      </div>
    </h1>
  </div>
  <div>
    <h1 class="ui header">
      <i class="icon user"></i>
      <div class="content">
        Acessos
      </div>
    </h1>
  </div>
  <div>
    <h1 class="ui header">
      <i class="icon user"></i>
      <div class="content">
        Tópicos
      </div>
    </h1>
  </div>
</div>
<div id="arrows">
  <button class="ui labeled icon button big basic primary">
    <i class="left arrow icon"></i>
    Tópicos
  </button>
  <button class="ui right labeled icon button big basic primary">
    <i class="right arrow icon"></i>
    Acessos
  </button>
</div>