<div id="content">

  <div class="area">
    <h1 class="ui header">
      <i class="icon comments" style="opacity: .3"></i>
      <div class="content">
        Chats realizados
      </div>
    </h1>
    <div style="padding: 64px;" id="chats"></div>
  </div>

  <div class="area">
    <h1 class="ui header">
      <i class="icon users" style="opacity: .3"></i>
      <div class="content">
        Acessos de usu치rios
      </div>
    </h1>
    <div style="padding: 128px;" id="acessos"></div>
  </div>

  <div class="area">
    <h1 class="ui header">
      <i class="icon tags" style="opacity: .3"></i>
      <div class="content">
        T칩picos
      </div>
    </h1>
    <div style="padding-left: 128px; padding-top: 16px;" id="topicos"></div>
  </div>

</div>
<div id="arrows">
  <button id="left" data-action="prev" data-next="Acessos">
    <i class="icon left arrow"></i>
    <span>T칩picos</span>
  </button>
  <div id="dots"></div>
  <button id="right" data-action="next" data-next="T칩picos">
    <span>Acessos</span>
    <i class="icon right arrow"></i>
  </button>
</div>

<div id="filter">
  <button>
    <span></span>
    <i class="icon calendar alternate outline"></i>
  </button>
</div>
