<div id="content">
  <div class="area">
    <h1 class="ui header">
      <i class="icon comments" style="opacity: .3"></i>
      <div class="content">
        Chats
      </div>
    </h1>
    <div style="padding: 128px;" id="chats" class="ui segment basic">
      <span class="number"></span>
    </div>
  </div>
  <div class="area">
    <h1 class="ui header">
      <i class="icon users" style="opacity: .3"></i>
      <div class="content">
        Acessos
      </div>
    </h1>
  </div>
  <div class="area">
    <h1 class="ui header">
      <i class="icon tags" style="opacity: .3"></i>
      <div class="content">
        Tópicos
      </div>
    </h1>
  </div>
</div>
<div id="arrows">
  <button id="left" data-action="prev" data-next="Acessos">
    <i class="icon left arrow"></i>
    <span>Tópicos</span>
  </button>
  <div id="dots"></div>
  <button id="right" data-action="next" data-next="Tópicos">
    <span>Acessos</span>
    <i class="icon right arrow"></i>
  </button>
</div>