<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400" rel="stylesheet">
  </head>
  <body>
    {{{body}}}

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="/javascripts/semantic.min.js"></script>
  </body>
  <script>
    $(document)
      .ready(() => {

        $('#content').slick({
          prevArrow: $('#prevArrow'),
          nextArrow: $('#nextArrow')
        });

      })
    ;

    // $('#content')
    //   .on('swipe')
    // ;

    $('button')
      .on('click', (e) => {
        $('#content').slick(`${$(e.currentTarget).attr('data-action')}`);

        switch ($('.slick-active .header .content').text().trim()){
          case 'Chats':
            $('#left span').text('Tópicos');
            $('#right span').text('Acessos');
            break;
          case 'Acessos':
            $('#left span').text('Chats');
            $('#right span').text('Tópicos');
            break;
          case 'Tópicos':
            $('#left span').text('Acessos');
            $('#right span').text('Chats');
            break;
        }
      });
    ;

    $(window)
      .on('load', () => {

        $('#chats').addClass('loading');

        $.post('/chats', {filter: ''}, (data) => {

          $('#chats .number').text(data.qtChats);

          $('#chats').removeClass('loading');
        });

      })
    ;
  </script>
</html>
